schema-definition.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Company">
  <xs:complexType>
  <xs:sequence>
  <xs:element name="Employee" maxOccurs="unbounded" minOccurs="0">
  <xs:complexType>
  <xs:sequence>
  <xs:element type="xs:string" name="Name"/>
  <xs:element type="xs:string" name="Position"/>
  <xs:element type="xs:string" name="Salary"/>
  </xs:sequence>
  <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  </xs:element>
  </xs:sequence>
  </xs:complexType>
  </xs:element>
</xs:schema>